body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

.services {
    height: 105px;
    width: 105px;
    background: black;
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px 0;

}

.circle {
    margin: 0 !important;
    padding: 0 !important;
    /*display: flex;*/
    /*justify-content: center;*/
}

.col-6 {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    /*justify-content: center;*/
}

.circles {
    display: flex;
    /*justify-content: center;*/
    justify-content: space-around;

}

.services>p {
    line-height: 95px;

}

/*ul {*/
/*    padding: 0 !important;*/
/*    margin: 0 !important;*/
/*}*/

.row {
    padding: 0 !important;
    margin: 0 !important;
}

p {
    padding: 0 !important;
    margin: 0 !important;
}

.icons {
    height: 18px;
    width: 18px;
    background: black;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: x-small;
    line-height:18px;
    justify-content: flex-end;

}

ul {
    display: flex;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    /*justify-content: flex-end;*/
}

li {
    display: flex;
    justify-content: flex-end;
    text-align: left;
}

.main-row {
    display:flex;
}

ul .col-sm-6 {
    display: flex;
    justify-content: flex-end;
}




@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
}

@media screen and (max-width:992px) {
    .last {
        visibility: hidden;
    }
}

.card-body>p {
    padding: 0 !important;
}

/*.card {*/
/*    width: 100px;*/
/*    height: auto;*/
/*}*/

.mr-3 {
    width: 75px;
    height: 75px;
}

.fa-twitter {
    color: deepskyblue;
}

.last-tweet {
    font-size: 16px;
    font-weight: bold;
}

.featured-project {
    font-size: 75%;
    justify-content: flex-start;
}

.card-body {
    background-color: #f0f0f0;
}

.card {
    border: none;
}

/*.col-6 .col-sm-6 {*/
/*    float: right;*/
/*}*/

.icon-float {
    justify-content: flex-end;
}

.idk {
    max-width: 105px;


}

hr {
    border-style: double;
}

.services-1, .icon-1 {
    background-color: #E6563B;
}
.services-2, .icon-2 {
    background-color: #DEA03D;
}
.services-3, .icon-3 {
    background-color: #7CB06C;
}
.services-4, .icon-4 {
    background-color: #00ABA9;
}

.card-img-top {
    border: 5px solid #E6E6E6;
}